@model PHSS.ViewModels.WebsiteIndexViewModel
@{
    ViewBag.Title = "Index";
}
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Website.css" rel="stylesheet" />
    <script src="~/Scripts/ResultCreate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>

<Div id="MainContent">

    @*Section for selecting which Divison and Age Group information you want to view*@
    <div id="Selection">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label style="color : white">Division</label>
            <br />
            @Html.DropDownList("DivisionId", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label style="color : white">Age Group</label>
            <br />
            @Html.DropDownList("AgeGroupId", null, htmlAttributes: new { @class = "form-control" })
        </div>


        @*Insert "Super Division's Under 14 Age Group Information" here*@

    </div>

    <br />
    <br />

    <div id="LogStandings" class="Information">

        <h2 style="font-weight : 900; color : white; margin-bottom : 20px;">Log Standings</h2>

        @{
            if (Model.Logs == null)
            {
                <p style="color : white;">
                    Sorry, there are no Logs to view at the moment.
                    Please visit us again to keep in to be kept in the loop.
                </p>
            }
            else
            {
                <table id="TheLog">
                    <thead>
                        <tr>
                            <th>
                                <span class="full-text">Position</span>
                                <span class="short-text">Pos</span>
                            </th>
                            <th>
                                <span class="full-text">Team Name</span>
                                <span class="short-text">Team</span>
                            </th>
                            <th>
                                <span class="full-text">Played</span>
                                <span class="short-text">P</span>
                            </th>
                            <th>
                                <span class="full-text">Win</span>
                                <span class="short-text">W</span>
                            </th>
                            <th>
                                <span class="full-text">Draw</span>
                                <span class="short-text">D</span>
                            </th>
                            <th>
                                <span class="full-text">Lost</span>
                                <span class="short-text">L</span>
                            </th>
                            <th>
                                <span class="full-text">For</span>
                                <span class="short-text">F</span>
                            </th>
                            <th>
                                <span class="full-text">Against</span>
                                <span class="short-text">A</span>
                            </th>
                            <th>
                                <span class="full-text">Goal Difference</span>
                                <span class="short-text">GD</span>
                            </th>
                            <th>
                                <span class="full-text">Points</span>
                                <span class="short-text">Pts</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{int Position = 0;}

                        @foreach (var log in Model.Logs)
                        {
                            Position++;
                            <tr>
                                <td>@Position</td>
                                <td>@log.Team.TeamName</td>
                                <td>@log.Played</td>
                                <td>@log.Win</td>
                                <td>@log.Draw</td>
                                <td>@log.Lost</td>
                                <td>@log.GoalsFor</td>
                                <td>@log.GoalsAgainst</td>
                                <td>@log.GoalDifference</td>
                                <td>@log.Points</td>
                            </tr>

                        }
                    </tbody>

                </table>

                <div id="SeeAll">
                    <a href="/Website/Logs">See All</a>
                </div>
            }
        } if


    </div> @*End of Log standings div*@

    <br />
    <br />


    <div id="Fixtures" class="Information">
        <h2 style="font-weight : 900; color : white; margin-bottom : 20px;">Fixtures</h2>


        @{
            if (Model.Fixtures.Count == 0)
            {
                <p style="color : white;">Sorry, there are no fixtures to view at the moment. Please visit us again to find out when your favortite team is playing</p>
            }
            else
            {
                <table id="TheFixture">

                    <tr>
                        <th>Date & Time</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Venue</th>
                    </tr>

                    @foreach (var fixture in Model.Fixtures)
                    {
                        <tr>
                            <td>@fixture.Matchdate</td>
                            <td>@fixture.Team1.TeamName</td>
                            <td>@fixture.Team2.TeamName</td>
                            <td>@fixture.MatchLocation</td>
                        </tr>
                    }

                </table>

                <div id="SeeAll">
                    <a href="/Website/Fixtures">See All</a>
                </div>
            }

        } @*End of if fixtures is null*@



    </div> @*End of fixtures div*@

    <br />
    <br />

    <div id="Results" class="Information">

        <h2 style="font-weight : 900; color : white; margin-bottom : 20px;">Results</h2>

        @{
            if (Model.Results.Count == 0)
            {
                <p style="color : white;">Sorry, there are no Results to view at the moment. Please visit our website again to find out how your team of choice is performing.</p>
            }
            else
            {
                <table id="TheResult">
                    <tr>
                        <th>Date & Time</th>
                        <th>Home Team</th>
                        <th>Score</th>
                        <th>Away Team</th>
                    </tr>

                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Fixtures.Matchdate</td>
                            <td>@result.Fixtures.Team1.TeamName</td>
                            <td>@result.Team1Score  -  @result.Team2Score</td>
                            <td>@result.Fixtures.Team2.TeamName</td>
                        </tr>
                    }

                </table>

                <div id="SeeAll">
                    <a href="/Website/Results">See All</a>
                </div>
            }
        }



    </div>

</Div>