@model IEnumerable<PHSS.Models.ResultModel>

@{
    ViewBag.Title = "Index";
}

    <h2>
        <span>
            <a href="~/Data/Index">
                <img src="http://www.iconarchive.com/download/i86010/graphicloads/100-flat-2/arrow-back.ico" alt="Alternate Text" style="height : 50px; width : 50px;" />
            </a>
        </span>Index
    </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fixtures.FixtureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fixtures.FixtureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResultId })
        </td>
    </tr>
}

</table>
