@model IEnumerable<PHSS.Models.TeamModel>

@{
    ViewBag.Title = "Index";
}

    <h2>
        <span>
            <a href="~/Data/Index">
                <img src="http://www.iconarchive.com/download/i86010/graphicloads/100-flat-2/arrow-back.ico" alt="Alternate Text" style="height : 50px; width : 50px;" />
            </a>
        </span>Index
    </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgeGroup.AgeGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division.DivisionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgeGroup.AgeGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.DivisionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamId })
        </td>
    </tr>
}

</table>
